.container {
  position: relative;
  left: 410px;
  bottom: 670px;
  text-align: center;
  margin: 0 0 1em 0;
  gap: 20px;
}

.container label {
  font-weight: 500;
}

.search-box {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  text-align: center;
}

h4,
h5 {
  position: relative;
  right: 170px;
  text-align: left;
}

button {
  position: relative;
  left: 275px;
  margin-right: 10px;
  margin-top: 20px;
}
