.offcanvas {
  position: relative;
  top: -16px;
  width: 17%;
  border: none;
}

.offcanvas-header {
  display: flex;
  flex-direction: column;
}

.nav-link:hover {
  background-color: #6dabfc;
}

.fs-5 {
  font-weight: 500;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 55px;
}

button:hover {
  background-color: #6dabfc;
}

li {
  cursor: pointer;
}
